html,
body {
    margin     : 0;
    padding    : 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display        : flex;
    position       : absolute;
    width          : 100%;
    height         : 100%;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: center;
}

.container .title {
    font-size: 28px;
}

.container .buttons {
    margin-top : 50px;
    margin-left: -100px;
}

.container .buttons .btn {
    position   : absolute;
    padding    : 10px 15px;
    font-size  : 14px;
    font-weight: bold;
}

.container .buttons>#btnno {
    margin-left: 50px;
}